{% load staticfiles %}
<html>
    <head>
        <title>Painel de Controle</title>
        <link rel="stylesheet" href="{% static 'css/css_padrao.css' %}">
    </head>
    <body>
        <div>
            <h1>Painel de Controle</h1>
        </div>
        <div class="divTable" style="border: 1px solid #000;" >
                <div class="divTableBody">
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;<h2>LOGICA</h2></div>
                <div class="divTableCell">&nbsp;<h2>DURACAO</h2></div>
                <div class="divTableCell">&nbsp;<h2>STATUS</h2></div>
                <div class="divTableCell">&nbsp;<h2></h2></div>
                <div class="divTableCell">&nbsp;<h2>BOTOES DE ACAO</h2></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Logica 1</div>
                <div class="divTableCell">&nbsp;00:00:00</div>
                <div class="divTableCell">&nbsp;False</div>
                <div class="divTableCell">&nbsp;-----</div>
                <div class="divTableCell">&nbsp;<button class="button">Forçar Ação</button></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Logica 2</div>
                <div class="divTableCell">&nbsp;00:00:00</div>
                <div class="divTableCell">&nbsp;False</div>
                <div class="divTableCell">&nbsp;-----</div>
                <div class="divTableCell">&nbsp;<button class="button">Forçar Ação</button></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Logica 3</div>
                <div class="divTableCell">&nbsp;00:00:00</div>
                <div class="divTableCell">&nbsp;False</div>
                <div class="divTableCell">&nbsp;-----</div>
                <div class="divTableCell">&nbsp;<button class="button">Forçar Ação</button></div>
                </div>
                <div class="divTableRow">
                <div class="divTableCell">&nbsp;Logica 4</div>
                <div class="divTableCell">&nbsp;00:00:00</div>
                <div class="divTableCell">&nbsp;False</div>
                <div class="divTableCell">&nbsp;-----</div>
                <div class="divTableCell">&nbsp;<button class="button">Forçar Ação</button></div>
                </div>
                </div>
                </div>
                <!-- DivTable.com -->
    </body>
    </html>