{% load staticfiles %}
<html>
    <head>
        <title>BH Escape SD - Painel de Controle</title>
        <meta http-equiv="refresh" content="4">  <!-- A pagina atualiza a cada 4s-->
        <link rel="stylesheet" href="{% static 'css/css_padrao.css' %}">
        <link rel="icon" href="{% static 'imagens/favicon32x32.png' %}" sizes="32x32">
    </head>
    <body>
        <div class="divTitulo">
            <h1>SALA SANTOS DUMONT</h1>
            <img src="{% static 'imagens/logo.png' %}" alt="BH Escape - Logo" style="width:110px;height:130px;">
            <!-- <span id="cronometro">Tempo: 00:00:00</span> -->
        </div>
        <!-- DIV com form e botoes de Iniciar e Reiniciar o Jogo-->
        <div class="divBotoesSuperior">
            <form method='POST'>{% csrf_token %}
                <input class="inputButton" type="submit" name="acao" value="Iniciar Jogo" style="background-color: seagreen;">
                <input class="inputButton" type="submit" name="acao" value="Reiniciar Jogo" style="background-color: tomato;">
            </form>
            <a href="/"><button class="button" style="background-color: gold;">Atualizar Pagina</button></a>
        </div>
        <!-- DIV Com a tabela de Informações -->
        <div class="divTable" style="border: 1px solid #000;" >
            <div class="divTableBody">
                <!-- Linha de Titulo da Tabela -->
                <div class="divTableRow">
                    <div class="divTableCell"><h2>LÓGICA</h2></div>
                    <div class="divTableCell"><h2>STATUS</h2></div>
                    <div class="divTableCell"><h2>BOTÕES DE AÇÃO</h2></div>
                </div>
                <!-- Linha da Logica 1 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 1</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica1_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Gaveta -->
                        <form method='POST'>{% csrf_token %}
                            <input class="inputButton" type="submit" name="forcar_logica1" value="Forcar Ligar Laser">
                            <input class="inputButton" type="submit" name="forcar_logica1" value="Forcar Abrir Gaveta" style="background-color: #0057ba;">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 2 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 2</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica2_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica2" value="Forcar Cair Teto">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 3 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 3</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica3_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botões Forcar Descer Aviao e Forcar Subir Aviao -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica3" value="Forcar Abrir Alcapao">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 4 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 4</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica4_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica4" value="Forcar Giro Busto">
                        <input class="inputButton" type="submit" name="forcar_logica4" value="Forcar Abrir Porta" style="background-color: #0057ba;">
                        <input class="inputButton" type="submit" name="forcar_logica4" value="Voltar Busto">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 5 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 5</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica5_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica5" value="Forcar Abrir Bau">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 6 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 6</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica6_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica6" value="Forcar Descer Chave">
                        <input class="inputButton" type="submit" name="forcar_logica6" value="Subir Chave" style="background-color: #0057ba;">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 7 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 7</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica7_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica7" value="Forcar Destravar Gaveta">
                        </form>
                    </div>
                </div>
                <!-- Linha da Logica 8 -->
                <div class="divTableRow">
                    <div class="divTableCell">Lógica 8</div>
                    <div class="divTableCell"> <!-- Indicador do status da logica -->
                        {% if logica8_status == True %} <span class="dot dotVerde"></span>
                        {% else %} <span class="dot dotCinza"></span>
                        {% endif %}
                    </div>
                    <div class="divTableCell"> <!-- Botao Forcar Abrir Maleta -->
                        <form method='POST'>{% csrf_token %}
                        <input class="inputButton" type="submit" name="forcar_logica8" value="Forcar Liberar Lampada">
                        <input class="inputButton" type="submit" name="forcar_logica8" value="Forcar Liberar Brasao" style="background-color: #0057ba;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Site usado para criar tabela div: DivTable.com -->
    </body>
    </html>